/* .active{
	color: orange;
}
header{
	display: grid;
  	grid-template-columns: repeat(6, 1fr);
}

.sousCategorie{
	display: grid;
	grid-template-columns: 1fr;
  	grid-template-rows: repeat(3, 1em);
}
header{
	background-color: yellow;
}
.barreNav ul{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
} */
.form-inline .form-control{
	width: 75%;
}
.no-padding > [class*='col-'] {
padding-right:0;
padding-left:0;
}
.border-left{
    border-left-width:15px !important;
}
.text-primary{
	color: #B13C57 !important;
}
/* .nav-item{
	color: white;
} */
